*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: #ffffff;
    max-height: 100vh;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 40px;
    margin: 0 70px;
}

.navbar-container div img{
    width: 80px;
    position: relative;
    top: 4px;
}

.grow-list{
    position: relative;
    right: 80px;
    margin-right: 80px;
}

.list{
    display: flex;
}

.list-item{
    list-style: none;
    margin: 0px 10px;
    font-size: 12px;
    color: lightgrey;
}

.list :first-child{
    color: #000000;
}

.list-item:hover{
    cursor: pointer;
}

.nav-button{
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    background: #8a2be2;
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
}

.btn{
    padding: 15px 30px;
    cursor: pointer;
    font-size: 14px;
}

.banner-container{
    display: flex;
    position: relative;
    top: 100px;
    padding-left: 70px;
}

.banner-container>div:first-child {
    padding-right: 100px;
}

.heading-text{
    padding-top: 40px;
    font-size: 55px;
    color: #040464;
    line-height: 1.4;
}

.heading-text span{
    color: #7a25c9;
}

.description{
    font-size: 18px;
    color: #808080;
    margin-top: 20px;
    margin-bottom: 50px;
}

.banner-container div img{
    width: 750px;
    height: 500px;
    position: relative;
    bottom: 30px;
}